.container{
    margin:2%;
    width: 100%;
    margin-left: 117px;
}
.filter-section
{
    margin:2%;
}
.logo {
    float: left;
    width: 199px;
    height: 59px;
	background-image: url("../images/logo.png");
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 11rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    margin-left: 4rem;
    margin-top: 1rem;
  }
  .ant-layout-header {
    height: 88px;
    padding: 0 50px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 64px;
    background: #ffffff;
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
    color: rgba(255, 255, 255, 0.65);
    background: #ffffff;
    padding-top: 8px;
}

.header-logo {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    color: #00CFC8 !important;
    background-color: #ffffff !important;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover
{
    background: #ffffff;
    color: #00CFC8 !important;
}
.ant-menu-title-content {
    font-size: 14px;
    font-weight: 400;
    float: left;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu{
    color:black;
    padding:0px 0px 0px 0px;;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover
{
    right: 55px !important;
    left: 0px !important;
}
.ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-open, .ant-menu-dark .ant-menu-submenu-selected, .ant-menu-dark .ant-menu-submenu-title:hover
{
    background: #ffffff;
    color: #00CFC8 !important;
}

.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a
{
    color:black;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected
{
    background-color: #00CFC8 !important;
    color: #ffffff !important;
}
/* .ant-menu-dark.ant-menu-submenu-popup
{
width:17% !important;
left: 506px !important;
} */
.menu-option-child > .ant-menu-title-content{
    font-family: "Open Sans", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.ant-menu-item, .ant-menu-submenu-title
{
    padding: 0px 0px 0px 10px !important;
}

.menu-option-header{
text-transform: uppercase;
}
.theme-banner {
    background: #f5f5f5 url() no-repeat;
    padding: 1.2rem 0;
    text-align: left;
    position: relative;
}
.breadcrumbs-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 117px;
    max-width: 540px;
}
.theme-banner .banner-content .banner__page-title {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 1rem;
}
.theme-banner .banner-content .breadcrumbs, .theme-banner .banner-content .woocommerce-breadcrumb {
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    font-size: large;
}
.theme-banner .breadcrumbs {
    color: #151D2A;
}
.theme-banner .banner-content .breadcrumbs span, .theme-banner .banner-content .woocommerce-breadcrumb span {
    color: #333333;
}
.theme-banner .banner-content .breadcrumbs a, .theme-banner .banner-content .woocommerce-breadcrumb a {
    color: #00CFC8;
    text-decoration: none;
}
.theme-banner .banner-content .breadcrumbs span.current, .theme-banner .banner-content .woocommerce-breadcrumb span.current {
    color: #333333;
}
footer {
    position: relative;
}

.footer-section-option{
background-color: #ECEAEA;
transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 0px 70px 0px;  
      padding-right: 15px;
    padding-left: 98px;
}
.ant-layout-footer{
    padding:0px !important;
}
.ant-anchor-ink::before {
    position: relative ;
    display: block;
    width: 0px !important;
    height: 100%;
    margin: 0 auto;
    background-color: none !important;
    content: ' ';
}
.footer-link-option{
margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1;
}

.footer-link-header
{
    color: #845F00;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}
.footer-link-header > a {
    color: #845F00 !important;
}

.footer-section-copyright-header{
    background-color: #3A3A3A !important;
    color: white !important;
    padding-right: 15px;
    padding-left: 117px;
    padding-top: 12px;
}

.footer-section-copyright > .ant-anchor-link-title{
    color: white !important;
}
.footer-md-section-copyright > .ant-anchor-link-title{
    color: white !important;
}

.footer-md-section-copyright {
    background-color: #3A3A3A !important;
    color: white !important;
    float: left !important;
    padding: 1px 0 7px 16px;
    line-height: 1.143;
}

.footer-section-copyright {
    background-color: #3A3A3A !important;
    color: white !important;
    float: left !important;
    padding: 0 0 7px 16px;
    line-height: 0;
}


.footer-icons > .ant-anchor-link-title
{
    margin-bottom: 0px !important;
}
.table-content-container {
    margin: 2%;
    width: 93%;
    margin-left: 50px;
}

.bg-white{
    background-color: #ffffff !important;
}

.registration-container{
    padding-left: 117px;    
    padding-top: 10px;
}

.registration-container > h4 {
    margin:0px !important;
    padding:10px !important;
}
.reg-content-p{
    font-family: "Roboto", sans-serif;
    font-size: medium;
    line-height: 1.5;
    font-weight: 200;  
    padding-bottom: 20px;
}
.reg-content-card{
    text-align: center;
}

.reg-content-card-h4{
    font-family:"Roboto", Sans-serif;
    font-weight: 600;
}
.reg-content-card-p{
    font-family: "Roboto", sans-serif;
    font-size: medium;
    line-height: 1.5;
    font-weight: 200;  
}
.reg-content-card-btn{
    padding-bottom:10px;
}
.reg-content-eligibility{
padding-top:20px;
}

.reg-content-register{
    padding-top:20px;
}

.register-content-bolder{
    font-weight: bold;
}
.Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
  .reg-form-content{
      width: 88%;
    padding-left: 7%;
    padding-top: 2%;
    text-align: center;
  }
  .login-form-content{
  width: 100%;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 2%;
  text-align: center;
  }

  .login-form-btn{
    background-color: rgb(110, 121, 111) !important;
    color: white !important;
    font-family: Roboto, sans-serif !important;
    font-weight: 600 !important;
    width: 82px !important;
    border: 1px solid black !important;
  }